html, body {
    height: 100%;
}

#sidebar {
    height: 100%;
    min-height: 100vh;
    min-width: 180px;
}

.card {
    border: none;
    padding: .5rem 0;
}
.card img {
    border-radius: .35rem;
}